h1 {
    text-align: center;
    margin-bottom:25px;
}


#sidebar .m-btn {
    margin-top:60px;
    margin-left:75px;
    width:300px;
    height:100px;
}

.antiscroll-inner {
  overflow-x: hidden;
  width: 370px; /** Make 20px larger to extend browser scrollbar outside of wrapper **/
 }

.antiscroll-wrap {
  width: 350px; /** Size to what you want, but 20px smaller than inner **/
}

#sidebar a {
    font-family: 'Lato', 'sans-serif';
    padding-top:35px;
    font-weight:300;
    font-size:20px;
    
}



#flashcards {
    max-width:400px;
    max-height: 475px;
}


.flashcardname {
    width:275px;
}